.button {
  color: blue;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 10ms cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover {
    background-color: rgb(232, 245, 250);
  }
}

.buttonAction {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 5px;

  width: 105px;
  height: 40px;

  border-radius: 50px;
  background-color: lightcyan;
  padding: 7px 0;
  border: none;
  color: blue;
}
.buttonAction:hover {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 5px;

  width: 105px;
  height: 40px;

  border-radius: 50px;
  background-color: lightcyan;
  padding: 7px 0;
  border: none;
  color: black;
}
